<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take a Survey</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Edu+SA+Beginner&family=Josefin+Sans&family=Kanit:ital,wght@1,300&family=Mukta:wght@600&family=Teko:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2308c32654.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <i class="fa-solid fa-clipboard-question fa-beat" style="color: #e4980c;"></i>
        <a id="survey" href="/">Survey Management Service</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a id="createBut" href="/create">Create</a> |
        <a id="profileTab" href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a id="login" href="/login">New User/Login</a>
        {{/if}}
      </nav>
    </header>
    <div id="banner" class="banner">
      <p id="Welcome" style="color: white; margin: 0;">
        Welcome To Survey Management Service, your one stop shop for creating and
        filling out surveys. All you need to start is an account! You can 
        sign-up now or login if you already have
        an account with us. Then you're free to create your own 
        surveys or answer some made by other users as well!. Simply click new user/login to create
        a profile or login, then click create and begin creating your own surveys today!
      </p>
    </div>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <p id="footPara">https://icons8.com/icon/11765/clipboard</p>
    </footer>
  </div>

  <script src="/js/root.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
