<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take a Survey</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Edu+SA+Beginner&family=Josefin+Sans&family=Kanit:ital,wght@1,300&family=Mukta:wght@600&family=Teko:wght@500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2308c32654.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <i class="fa-solid fa-clipboard-question fa-beat" style="color: #e4980c;"></i>
        <a id="survey" href="/">Survey Management Service</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a id="createBut" href="/create">Create</a> |
        <a id="profileTab" href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a id="login" href="/login">New User/Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <p id="Welcome">Welcome To Survey Management Service, your one stop shop for creating and filling out surveys. Here you can create a profile and login and then create your own surveys and fill out others that have been created. Simply click new user/login to create a profile or login, then click create and begin creatging your own surveys today!</p>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <p id="footPara">https://icons8.com/icon/11765/clipboard</p>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
