  
    
    <form class="form new-project-form">
      <div class="row mt-4">
        <div class="col-md-6">

          <h3 id="CreateNew">Create a New Survey:</h3>
          <div class="form-group">
            <label id="SurName" for="project-name">Survey name:</label>
            <input class="form-input" type="text" placeholder="Please enter a name for your survey." id="project-name" name="project-name" />
          </div>
          <div class="form-group">
            <label id="SurDes" for="project-desc">Description:</label>
            <textarea class="form-input" id="project-desc" placeholder="Please provide a description of your survey." name="project-desc"></textarea>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-md-6">
          <h3 id="questAns">Add Questions and Answers:</h3>

          <!-- container for dynamically created fields -->
          <div id="questions-container">
          </div>

          <div class="form-group createButtons" style="Display:flex; flex-direction:row; justify-content:end; align-items:center;">

            <button class="btn btn-primary" id="add-question-btn" style="margin:0; margin-left:15px;">Add Question</button>
           
            <button type="submit" class="btn btn-primary" style="margin:0; margin-left:15px;">Create</button>
            
          </div>
        </div>
      </div>
    </form>




<script src="./js/create.js"></script>