<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Survey:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Survey name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add Questions and Answers:</h3>

    <!-- container for dynamically created fields -->
    <div id="questions-container">
    </div>

    <button class="btn btn-primary" id="add-question-btn">Add Question</button>
  </div>
</div>

<script src="./js/create.js"></script>