<div class="row">
  <div class="col-auto">
    <h2 id="welcomeName">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4" id="centerDiv">
  <div class="col-md-6 centerGroup">
    <h3>Create a New Survey:</h3>

    <form  class="form new-project-form">
      <div class="form-group" >
       <i class="fa-solid fa-pencil" style="color: #e4890c;"></i>
        <label for="project-name">Survey name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
     <i class="fa-solid fa-pen-fancy" style="color: #e4890c;"></i>
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if surveys.length}}
  <div class="col-md-6 project-list">
    <h3>Current Surveys:</h3>

    {{#each surveys as |survey|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{survey.id}}">{{survey.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{survey.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
