header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}



.no-button:hover {
  color: #946307;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.banner {
  padding:15px;
  margin:10px 0 10px 0;
  height: max-content;
  width:100%;
  background-color: #0053ab;
}

.banner p{
  text-align:left;
  padding: 0 1em 0 1em;
  font-family: 'Josefin Sans', sans-serif;
}
